body {
    background-color: rgb(250, 250, 250);
    color: rgb(26, 26, 26);
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}
@media only screen and (min-width : 1024px) {
    .main {
        margin-left: 100px;
        margin-right: 100px;
    }
}
.text {
    text-align: center;
}

/* code adapted from https://ehtmlu.com/blog/justified-image-grid-only-with-css-html/ */
/* START */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2px;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
.image-grid > * {
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(160px * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}
.image-grid > * > img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image-grid::after {
    content: " ";
    flex-grow: 1000000000;
}
/* END */