{{ define "main" }}
<div id="mygallery" class="image-grid">
    {{ range sort $.Site.Data.exif "SubSecDateTimeOriginal" "desc"}}
    <a href="/images/{{ path.Base .SourceFile }}" 
        style="--width: {{ .WebWidth }}; --height: {{ .WebHeight }};"
        data-pswp-width="{{ .WebWidth }}" 
        data-pswp-height="{{ .WebHeight }}" 
        target="_blank">
        <img src="/thumbs/{{ path.Base .SourceFile }}" alt="" />
    </a>
    {{ end }}
</div>
{{ $js := resources.Get "photoswipe-init.js" | resources.Minify }}
<script type="module" src="{{ $js.Permalink }}"></script>
{{ end }}
