{{ define "main" }}
<h1 class="text">Piotr's Photo Gallery</h1>
<div id="mygallery" class="image-grid">
    {{ range sort $.Site.Data.exif "SubSecDateTimeOriginal" "desc"}}
    <a href="/images/{{ path.Base .SourceFile }}" 
        style="--width: {{ .WebWidth }}; --height: {{ .WebHeight }};"
        data-pswp-width="{{ .WebWidth }}" 
        data-pswp-height="{{ .WebHeight }}" 
        target="_blank">
        <img src="/thumbs/{{ path.Base .SourceFile }}" alt="" />
        <div class="pswp-caption-content">
            <p>{{ substr .SubSecDateTimeOriginal 0 10 }}</p>
            <p>{{ .Model }}</p>
            {{ if (or (strings.Contains .LensID "Unknown") (strings.Contains .LensID "Manual Lens No CPU")) }}
                <p>{{ .Lens }}</p>
            {{ else }}
                <p>{{ .LensID }}</p>
            {{ end }}
            <p>{{ .FocalLength }}</p>
            <p>F {{ .FNumber }}</p>
            <p>Shutter {{ .ExposureTime }}</p>
            <p>ISO {{ .ISO }}</p>
        </div>
    </a>    
    {{ end }}
</div>

{{ $js := resources.Get "photoswipe-init.js" | resources.Minify }}
<script type="module" src="{{ $js.RelPermalink }}"></script>

<footer class="text">
    <p>All photos © <a target ="_blank" href="https://www.patrzyk.me">Piotr Patrzyk</a></p>
    <p>See <a href="https://github.com/ppatrzyk/foto" target="_blank">source code</a> for this gallery</p>
</footer>
{{ end }}
